<script src="modules/angular/angular.min.js"></script>
<script src="modules/lodash/index.js"></script>
<script src="pageController.js"></script>
<link rel="stylesheet" type="text/css" href="styles/main.css">
</script>
<html ng-app='leagueApp'>
<div ng-controller="mainController">
    <!-- <img ng-src="{{annie}}"></img> -->
    <form ng-submit="getSummonerData()">
        <label>Enter your Summoner Name:
            <input type='text' autofocus="true" ng-model="summonerNameInput" name="summonerNameInputField">
        </label>
        <input type="submit" id="submit" value="Submit" />
    </form>
    <div class="col-sm-6">
        <h2>Summoner data for <span ng-bind='summoner.name'></span>:</h2>
        <div ng-repeat='match in summonerMatchlist.matches'>
            <span ng-bind='match.champion.name'></span>
            <span ng-bind='match.champion.stats.attackrange'></span>
            <span ng-bind="match.matchData.matchDuration"></span>
             Winner: <span ng-bind="match.winner"></span>
        </div>
    </div>
    <div ng-show="meleeRangedPreference" class="col-sm-6">
        You play <span ng-bind="meleeRangedPreference"></span> champions more often.
    </div>
    <div ng-show="meleeRangedPreference" class="col-sm-6">
        You have won <span ng-bind="percentMeleeGamesWon"></span>% of your melee games
    </div>
    <div ng-show="meleeRangedPreference" class="col-sm-6">
        You have won <span ng-bind="percentRangedGamesWon"></span>% of your ranged games
    </div>
</div>

</html>
